body{
    margin:0;
    padding:0;
    font-family: 'Comfortaa',cursive;
    color: rgb(247, 246, 246);
    background-color: #000;
}
a{
    text-decoration: none;
    color:#fff;
}

/* Styling section-1 */

#header{
    height:70px;
}
.navbar{
    height:50px;
    background-color: #000;
    font-size: 1.3rem; 
    margin-top:-40px;  
}
.navbar ul{
    display:flex;
    justify-content: space-between;
}
ul{
    list-style-type: none;
    margin-top: 20px;
    padding: 10px;

}
.navbar img{
    height:50px;
    width:200px;
}
.navbar a{
    color:#fff;
    text-shadow: #1f8dd1 0 2px;
    display: inline-block;
}
.navbar a:hover{
    color: #1f8dd1;
    text-shadow: #fff 0 1.5px;
}  

/* Styling section-2 */
#securityplatform{
    height:500px;
    background-image: url("./images/extra.jpg");
    background-size: cover;
    background-position: center;
}
.heading1 {
    font-family: 'Montserrat',sans-serif;
    font-size: 2rem;
    color:#fff;
    text-shadow: #301f91 0 4px;
    padding: 100px 0px 0px 20px;
    display:inline-block;
}

.text1{
    font-family: 'Montserrat',sans-serif;
    font-size: 1.5rem;
    padding: 0px 0px 150px 20px;
}

.button1{
    background-color: #301f91;
    border-radius:8px;
    padding:10px 12px;
    color:#fff;
    margin-top: -120px;

}

/* Styling section-3 */

.heading2{
    font-family: 'Montserrat',sans-serif;
    font-size: 2rem;
    color:#fff;
    text-shadow: #301f91 0 4px;
    text-align: center;
}

.text2{
    font-family: 'Montserrat',sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

/* Styling section-4 */
#cards{
    height: 570px;
    background-color: #222529;
}
#cards div{
    height: 550px;
    width: 280px;
    background-color: #000;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 1px 1px 7px #060606;
}

#cards ul{
    display:flex;
    justify-content: space-between;
}
ul{
    list-style-type: none;
    margin: 60px;
    padding: 10px;
}

#cards img{
    height: 170px;
    width: 246px;
    display: inline-block;
    border-radius: 3px;
    margin-top: 17px;
    margin-left: 17px;
}
.heading{
    font-size: 1.5rem;
    padding-left: 17px;
    margin-bottom: 0;
}
.text{
    font-size: 1rem;
    padding-left: 17px;
    padding-right: 17px;
    line-height: 1.18rem;
}

button:hover{
    background-color: rgb(61, 54, 203);
}

#cards2{
    height: 640px;
    background-color: #222529;
    margin-top:-60px;
}
#cards2 div{
    height: 610px;
    width: 280px;
    background-color: #000;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 1px 1px 7px #060606;
}

#cards2 ul{
    display:flex;
    justify-content: space-between;
}
ul{
    list-style-type: none;
    margin: 60px;
    padding: 10px;
}

#cards2 img{
    height: 150px;
    width: 246px;
    display: inline-block;
    border-radius: 3px;
    margin-top: 17px;
    margin-left: 17px;
}
.heading{
    font-size: 1.5rem;
    padding-left: 17px;
    margin-bottom: 0;
}
.text{
    font-size: 1rem;
    padding-left: 17px;
    padding-right: 17px;
    line-height: 1.18rem;
    text-align:left;
}

button{
    margin-left: 17px;
    margin-right: 17px;
    background-color: #301f91;
    border-radius:8px;
    padding:10px 12px;
    color:#fff;
    transition: 0.2s;

}

/* Styling section-5 */

#securitydefined{
    background-color: #12141B;
    height: 550px;
    color:#fff;
    text-align: justify;
}
.content{
    height:300px;
    width:450px;
    line-height: 1.8rem;
    display:inline-block;
    font-size: 1.5rem;
    margin-left:50px;
    margin-top:155px;
    position: absolute;
    font-family: 'Montserrat',sans-serif;
}
.image{
    background-image: url("./images/img9-identity_security_platform.png");
    background-size: cover;
    height: 300px;
    width: 550px;
    display: inline-block;
    margin-top:145px;
    margin-left:600px;
    position:absolute;
    border-radius: 1px;
}

#footer{
    height:150px;
    background-color:#222529;
}

.footerimage{
    height:65px;
    width:240px;
    margin-left:20px;
}

.footertext{
    margin-left:20px;
    font-size:0.8rem;
}

#accessmanagement{
    height:450px;
    background-image: url("./images/img10-access_management.jpg");
    background-size: cover;
    background-position: center;
}


#identities{
    height: 600px;
    background-color:#222529;
    text-align: justify;
}
.title{
    font-family: 'Montserrat',sans-serif;
    font-size: 2rem;
}
.identities-content{
    height:250px;
    width:670px;
    font-family: 'Comfortaa';
    font-size: 1.5rem;
    line-height: 1.5rem;
    display: inline-block;
}
#identities img{
    height: 250px;
    width:250px;
    object-fit: contain;
}
.identities-image{

    height: 250px;
    width: 250px;
    display: inline-block;
}
.workforceidentity .identities-image{
    margin-top: 115px;
    margin-left: 150px; 
    position: absolute;
}
.workforceidentity .identities-content{
    margin-top: 135px;
    margin-left:430px;
    position: absolute;
}
.customeridentity .identities-image{
    margin-top: 315px;
    margin-left: 950px; 
    position: absolute;
}
.customeridentity .identities-content{
    margin-top: 335px;
    margin-left:250px;
    position: absolute;
}


